%h2.main-title Rsgistration successful
.nav-container
= button_to "Top page", root_path, method: :get
%h2.main-title Rsgistration successful
.nav-container
= button_to "Top page", root_path, method: :get