= javascript_pack_tag 'box_style'

%h2.main-title Config
.nav-container
  %ul.nav-list.js-show
    %span.nav-list__text buyer
    %li.nav-list__item
      =link_to "Register", new_buyer_path, class: "nav-list__item__text"
    %li.nav-list__item
      =link_to "List", buyers_path, class: "nav-list__item__text" 
  %ul.nav-list.js-show
    %span.nav-list__text product
    %li.nav-list__item
      =link_to "Register", new_product_path, class: "nav-list__item__text"
    %li.nav-list__item
      =link_to "List", products_path, class: "nav-list__item__text", method: :get

%h2.main-title Select buyer
.nav-container
  %ul.nav-list.js-show
    %span.nav-list__text Select
    - @buyers.each do |buyer|
      %li.nav-list__item
        %span.nav-list__item__text
          = link_to(buyer.name, new_buyer_path) 