= javascript_pack_tag 'box_style'

%h2.main-title Config
.nav-container
  %ul.nav-list.js-show
    %span.nav-list__text buyer
    %li.nav-list__item
      =link_to "Register", new_buyer_path, class: "nav-list__item__text"
    %li.nav-list__item
      =link_to "List", buyers_path, class: "nav-list__item__text" 
  %ul.nav-list.js-show
    %span.nav-list__text product
    %li.nav-list__item
      =link_to "Register", new_product_path, class: "nav-list__item__text"
    %li.nav-list__item
      =link_to "List", products_path, class: "nav-list__item__text", method: :get
.nav-container
  = button_to "Search page", buyer_managements_path, method: :get

%h2.main-title Sale
.nav-container
  %ul.nav-list.js-show
    %span.nav-list__text Select Buyer and Product
    %li.nav-list__item
      = link_to "Move to sale page", buyer_managements_path, class: "nav-list__item__text"