.header {
    width: 100%;
    height: 50px;
    background-color: $body-background-color;
    display: flex;
    justify-content: space-evenly;
    &__title {
      height: 30px;
      background-color: $body-background-color;
      &--text {
        text-decoration: none;
        line-height: 30px;
        color: #fff;
      }
    }
    &__right {
      height: 30px;
      display: flex;
      &__box {
        height: 30px;
        background-color: $body-background-color;
        &--btn {
          text-decoration: none;
          line-height: 30px;
          color: #fff;
        }
      }
    }
  }