%h2.create-title Rsgistration successful
.new-container
  .new-container__text-field
    = button_to "To index page", buyers_path, method: :get
.new-container
  .new-container__text-field
    = button_to "Top page", root_path, method: :get 