%h2.new-title Edit page
.nav-container
  = form_with model: @buyer, local: true do |f|
    .new-container__text-field
      = f.text_field :name, placeholder: "name"
    .new-container__text-field
      = f.submit "UPDATE"