%h2.new-title Register buyer
.new-container
  = form_with model: @buyer, local: true do |f|
    .new-container__text-field
      = f.text_field :name, placeholder: "input new buyer"
    .new-container__text-field
      = f.submit "SEND"