%h2.main-title Edit page
.nav-container
  = form_with model: @product, local: true do |f|
    = f.text_field :name, placeholder: "name"
    = f.text_field :price, placeholder: "price"
    = f.submit "UPDATE"