%h2.main-title Register Product
.nav-container
  = form_with model: @product, local: true do |f|
    = f.text_field :name, placeholder: "input new paroduct"
    = f.text_field :price, placeholder: "input new price"
    = f.submit "SEND"