%h2.create-title The update was successful
.new-container
  .new-container__text-field
    = button_to "To index page", products_path, method: :get
.new-container
  .new-container__text-field
    = button_to "Top page", root_path, method: :get 